:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-text-color: #2196F3;
    --text-white-color: #ffffff;
    --botton-text-color: rgba(255, 255, 255, 0.6);
    --botton-portfolio-bgc-color: #F5F4FA;
    --bgc-page: #ffffff;
    --footer-bgc: #2F303A;
}

.list {
    list-style: none;
}

body {
    font-family: roboto, sans-serif;
}

.uppercase-text {
    text-transform: uppercase;
}

/* LOGO */
.logo {
    color: var(--accent-text-color);
    font-family: Raleway;
}

header .logo > span {
    color: #000000;
}

footer .logo > span {
    color: #ffffff;
}

/* HEADER */

.site-nav .link {
    color: var(--title-text-color);
}
 .contacts-nav .link {
    color: var(--primary-text-color);
 }

.site-nav .link:hover,
.contacts-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:focus {
    color: var(--accent-text-color);
}

.site-nav .link.current {
    color: var(--accent-text-color);
}

/* HERO */

.hero-title {
    color: red;
}

.main-portfolio,
.main-page {
    background-color: var(--bgc-page);
}

/* SECTION */

.section {
    color: var(--primary-text-color);
}

.section-title {
    color: var(--title-text-color);
}

.section.section-four {
    background-color: var(--botton-portfolio-bgc-color);
}

/* FOOTER */

footer {
    background-color: var(--footer-bgc);
}

address .map-link {
    color: var(--text-white-color);
}

address a.link {
    color: var(--botton-text-color);
}

/* BUTTON */

button.main-page {
    background-color: var(--accent-text-color);
    color: var(--text-white-color);
}

button.main-page:focus,
button.main-page:hover {
    background-color: var(--accent-text-color);
    color: var(--text-white-color);
}

button.portfolio-page {
    background-color: var(--botton-portfolio-bgc-color);
    color: var(--title-text-color);
}

button.portfolio-page:hover,
button.portfolio-page:focus {
    background-color: var(--accent-text-color);
    color: var(--text-white-color);
}